/*import utilitis*/
/*import base*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fontFooter a {
  text-decoration: none;
  color: black; }

p {
  text-align: center; }

/*imports layout*/
.headerIndex {
  background-color: #F1C8C5;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.mainIndex {
  width: 100%;
  height: 100vh; }

.sectionFont p {
  font-family: "Nunito", serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center; }

.h1Index {
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 50px; }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  .grid .item1 {
    grid-column: 1/4;
    grid-row: 1/2; }
  .grid .item2 {
    grid-column: 1/2;
    grid-row: 2/3; }
  .grid .item3 {
    grid-column: 2/3;
    grid-row: 2/3; }
  .grid .item4 {
    grid-column: 3/4;
    grid-row: 2/3; }

.item1 {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.item2, .item3, .item4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .item2 img, .item3 img, .item4 img {
    width: 300px;
    height: 300px; }

.grid {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  width: 100%;
  height: 100vh;
  background: url(../assets/img/fondoindex3.jpg);
  background-position: center;
  background-size: cover; }

.cuadrado {
  border-radius: 25%; }

.footerIndex {
  background-color: #F1C8C5;
  display: flex;
  width: 100%;
  min-height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.headerTortas {
  background-color: #D0A78F;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky; }

.h1Tortas {
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 50px; }

.item1Tortas p {
  font-family: "Nunito", serif;
  font-weight: 500;
  font-size: 20px; }

.mainImgTortas {
  margin: auto; }

.imagenTorta {
  border-radius: 50%; }

.mainTortas {
  background-image: linear-gradient(to right top, #a3725d, #ae7f69, #b98c75, #c59a82, #d0a78f); }

.cuadradoTortas {
  border-radius: 25%;
  width: 150px; }

.item3Tortas:hover, .item4Tortas:hover, .item5Tortas:hover,
.item6Tortas:hover, .item7Tortas:hover, .item8Tortas:hover {
  transform: scale(1.1);
  transition: 200ms; }

.gridTortas {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center; }
  .gridTortas.item1Tortas {
    grid-column: 1/2;
    grid-row: 1/2; }
  .gridTortas .item2Tortas {
    grid-column: 2/3;
    grid-row: 1/2; }

.subGridTortas {
  grid-column: 3/4;
  grid-row: 1/2;
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center; }

.footerTortas {
  background-color: #D0A78F;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.headerDonas {
  background-color: #9BEBDC;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky; }

.h1Donas {
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 50px; }

.item1Donas p {
  font-family: "Nunito" serif;
  font-weight: 500;
  font-size: 20px; }

.mainImgDonas {
  margin: auto; }

.imagenDonas {
  border-radius: 50%; }

.mainDonas {
  background-image: linear-gradient(to right top, #54b59e, #4dac96, #46a48d, #3f9b85, #38937d); }

.cuadradoDonas {
  border-radius: 25%;
  width: 150px; }

.item3Donas:hover, .item4Donas:hover, .item5Donas:hover,
.item6Donas:hover, .item7Donas:hover, .item8Donas:hover {
  transform: scale(1.1);
  transition: 200ms; }

.gridDonas {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center; }
  .gridDonas.item1Donas {
    grid-column: 1/2;
    grid-row: 1/2; }
  .gridDonas .item2Donas {
    grid-column: 2/3;
    grid-row: 1/2; }

.subGridDonas {
  grid-column: 3/4;
  grid-row: 1/2;
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center; }

.footerDonas {
  background-color: #9BEBDC;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.headerTartas {
  background-color: #CF99FA;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky; }

.h1Tartas {
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 50px; }

.item1Tartas p {
  font-family: "Nunito" serif;
  font-weight: 500;
  font-size: 20px; }

.mainImgTartas {
  margin: auto; }

.imagenTarta {
  border-radius: 50%; }

.mainTartas {
  background-image: linear-gradient(to right top, #855be0, #9566e5, #a371e9, #b17dee, #be89f3, #be89f3, #be89f3, #be89f3, #b17dee, #a371e9, #9566e5, #855be0); }

.cuadradoTartas {
  border-radius: 25%;
  width: 150px; }

.item3Tartas:hover, .item4Tartas:hover, .item5Tartas:hover,
.item6Tartas:hover, .item7Tartas:hover, .item8Tartas:hover {
  transform: scale(1.1);
  transition: 200ms; }

.gridTartas {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center; }
  .gridTartas.item1Tartas {
    grid-column: 1/2;
    grid-row: 1/2; }
  .gridTartas .item2Tartas {
    grid-column: 2/3;
    grid-row: 1/2; }

.subGridTartas {
  grid-column: 3/4;
  grid-row: 1/2;
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center; }

.footerTartas {
  background-color: #CF99FA;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.headerNosotros {
  background-color: #C1E9FF;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky; }

.mainNosotros {
  background-image: linear-gradient(to right top, #c1e9ff, #a9d6f0, #90c3e1, #77b1d2, #5e9fc3);
  padding: 20px; }
  .mainNosotros h1 {
    font-size: 24px; }
  .mainNosotros p {
    font-size: 16px;
    color: #333333; }
  .mainNosotros img {
    border-radius: 50%;
    height: auto;
    margin-top: 20px; }

.gridNosotros {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center; }
  .gridNosotros.item1Nosotros {
    grid-column: 1/2;
    grid-row: 1/2; }
  .gridNosotros .item2Nosotros {
    grid-column: 2/3;
    grid-row: 1/2; }

.item1Nosotros {
  text-align: center; }

.contenedorForm {
  min-width: auto;
  background-color: #ffffff38;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

form label {
  margin-bottom: 5px;
  color: #333333; }

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 4px; }

form button {
  width: 100%;
  padding: 10px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px; }

.footerNosotros {
  background-color: #C1E9FF;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

/* media querys*/
@media (max-width: 1100px) {
  .h1Index {
    font-size: 60px;
    color: black; }
  .sectionFont p {
    font-weight: 600;
    font-size: 20px;
    color: black; }
  .item2 img {
    width: 150px;
    height: 150px; }
  .item3 img {
    width: 150px;
    height: 150px; }
  .item4 img {
    width: 150px;
    height: 150px; } }

@media (max-width: 768px) {
  /*modificaciones para index*/
  .h1Index {
    font-size: 60px;
    color: black; }
  .sectionFont p {
    font-weight: 400;
    font-size: 20px;
    color: black; }
  .grid {
    display: flex;
    flex-direction: column;
    background-color: #D8A4A4;
    background-image: none;
    min-width: 100%;
    min-height: 100vh; }
  .item2 {
    display: flex;
    flex-direction: row-reverse; }
  .item3 {
    display: flex;
    flex-direction: row; }
  .item4 {
    display: flex;
    flex-direction: row-reverse; }
  .navBar li a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem; }
  .headerIndex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .footerIndex {
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    min-height: auto; }
  .fontFooter img {
    width: 30px; }
  .imgRedes img {
    width: 30px; }
  /*modificaciones para Tortas*/
  .headerTortas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .gridTortas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr; }
    .gridTortas.item1Tortas {
      grid-column: 1/2;
      grid-row: 1/2; }
    .gridTortas .item2Tortas {
      grid-column: 1/2;
      grid-row: 2/3; }
  .subGridTortas {
    grid-column: 1/2;
    grid-row: 3/4;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  /*modificaciones para Donas*/
  .headerDonas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .gridDonas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr; }
    .gridDonas.item1Donas {
      grid-column: 1/2;
      grid-row: 1/2; }
    .gridDonas .item2Donas {
      grid-column: 1/2;
      grid-row: 2/3; }
  .subGridDonas {
    grid-column: 1/2;
    grid-row: 3/4;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  /*Modificaciones para Tartas*/
  .headerTartas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .gridTartas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr; }
    .gridTartas.item1Tartas {
      grid-column: 1/2;
      grid-row: 1/2; }
    .gridTartas .item2Tartas {
      grid-column: 1/2;
      grid-row: 2/3; }
  .subGridTartas {
    grid-column: 1/2;
    grid-row: 3/4;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); } }

@media (max-width: 455px) {
  .navBar li a {
    font-size: .625rem; }
  .imgLogo {
    width: 100px;
    height: auto; }
  .h1Index {
    font-size: 40px;
    color: black; }
  .sectionFont p {
    font-weight: 400;
    font-size: 15px;
    color: black; }
  .grid {
    display: flex;
    flex-direction: column;
    background-color: #D8A4A4;
    background-image: none;
    min-width: 100%;
    min-height: 100vh; }
  .item2 {
    display: flex;
    flex-direction: column; }
  .item3 {
    display: flex;
    flex-direction: column; }
  .item4 {
    display: flex;
    flex-direction: column; }
  .footerIndex {
    margin: auto;
    flex-direction: row;
    align-items: center; } }

@media (max-width: 370px) {
  .h1Index {
    font-size: 30px;
    color: black; }
  .sectionFont p {
    font-weight: 200;
    font-size: 10px;
    color: black; }
  .fontFooter img {
    width: 15px; }
  .imgRedes img {
    width: 15px; } }

/*Imports componentes*/
.navBar {
  display: flex;
  list-style: none;
  gap: 1.25rem;
  padding-right: 1.25rem; }
  .navBar li a {
    text-decoration: none;
    color: black;
    font-size: 1.875rem; }
    .navBar li a:hover {
      text-decoration: underline; }
