.h1Tortas{
    text-align: center;
    font-family: "Roboto", serif;
    font-size: 50px;
}
.item1Tortas p{
    font-family: "Nunito", serif;
    font-weight: 500;
    font-size: 20px;
}
.mainImgTortas {
    margin: auto;
}
.imagenTorta {  
    border-radius: 50%;
}
.mainTortas {
    background-image: linear-gradient(to right top, #a3725d, #ae7f69, #b98c75, 
    #c59a82, #d0a78f);
}
.cuadradoTortas{
    border-radius: 25%;
    width: 150px;
}
.item3Tortas:hover, .item4Tortas:hover, .item5Tortas:hover, 
.item6Tortas:hover, .item7Tortas:hover, .item8Tortas:hover {
    transform: scale(1.1);
    transition: 200ms;
}
.gridTortas {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    &.item1Tortas {
    grid-column: 1/2;
    grid-row: 1/2;
    }
    .item2Tortas {
    grid-column: 2/3;
    grid-row: 1/2;
    }
}
.subGridTortas {
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}