.h1Donas{
    text-align: center;
    font-family: "Roboto", serif;
    font-size: 50px;
}
.item1Donas p{
    font-family: "Nunito" serif;
    font-weight: 500;
    font-size: 20px;
}
.mainImgDonas {
    margin: auto;
}
.imagenDonas {  
    border-radius: 50%;
}
.mainDonas{
    background-image: linear-gradient(to right top, #54b59e, #4dac96, 
    #46a48d, #3f9b85, #38937d);
}
.cuadradoDonas{
    border-radius: 25%;
    width: 150px;
}
.item3Donas:hover, .item4Donas:hover, .item5Donas:hover, 
.item6Donas:hover, .item7Donas:hover, .item8Donas:hover {
    transform: scale(1.1);
    transition: 200ms;
}
.gridDonas {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    &.item1Donas {
    grid-column: 1/2;
    grid-row: 1/2;
    }
    .item2Donas {
    grid-column: 2/3;
    grid-row: 1/2;
    }
}
.subGridDonas {
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}