.h1Tartas{
    text-align: center;
    font-family: "Roboto", serif;
    font-size: 50px;
}
.item1Tartas p{
    font-family: "Nunito" serif;
    font-weight: 500;
    font-size: 20px;
}
.mainImgTartas {
    margin: auto;
}
.imagenTarta {  
    border-radius: 50%;
}
.mainTartas {
    background-image: linear-gradient(to right top, #855be0, #9566e5, #a371e9, 
    #b17dee, #be89f3, #be89f3, #be89f3, #be89f3, #b17dee, #a371e9, #9566e5, 
    #855be0);
}
.cuadradoTartas{
    border-radius: 25%;
    width: 150px;
}
.item3Tartas:hover, .item4Tartas:hover, .item5Tartas:hover,
.item6Tartas:hover, .item7Tartas:hover, .item8Tartas:hover {
    transform: scale(1.1);
    transition: 200ms;
}
.gridTartas {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    &.item1Tartas {
    grid-column: 1/2;
    grid-row: 1/2;
    }
    .item2Tartas {
    grid-column: 2/3;
    grid-row: 1/2;
    }
}
.subGridTartas {
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}