.navBar {
    display: flex;
    list-style: none;
    gap: 1.25rem;
    padding-right: 1.25rem;

    li a {
        text-decoration: none;
        color: black;
        font-size: 1.875rem;
        &:hover {
            text-decoration: underline;
        }
    }
}
