@media(max-width: 1100px){
    .h1Index {
        font-size: 60px;
        color: rgb(0, 0, 0);
    }
    .sectionFont p{
        font-weight: 600;
        font-size: 20px;
        color:  rgb(0, 0, 0);
    }
    .item2 img {
        width: 150px;
        height: 150px;
        
    }
    .item3 img {
        width: 150px;
        height: 150px;
        
    }
    .item4 img {
        width: 150px;
        height: 150px;
        
    }
}