@media(max-width: 370px){
    .h1Index {
        font-size: 30px;
        color: rgb(0, 0, 0);
    }
    .sectionFont p{
        font-weight: 200;
        font-size: 10px;
        color:  rgb(0, 0, 0);
    }
    .fontFooter img{
        width: 15px;
    }
    .imgRedes img{
        width: 15px;
    }
}